*.o
*.swp

coinindex.txt

consolidate.csv
positions.csv
prices.csv
prospects.csv
purge.csv
refresh.csv
review.csv
symbols.csv
index.html

closed.csv

test/consolidate2.csv
test/prospects2.csv
test/purge2.csv
test/refresh2.csv
test/review2.csv
